@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    /*Configurações para tablets*/

    section#login{
        width: 65vw;
        height: auto;
    }
    div#imagem{
        float:left;
        width: 50%;
    }
    div#formulario{
        float:right;
    }

}
@media  screen and (min-width: 992px) {
    section#login{
        width:500px;
    }
}