@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    /*Configurações para tablets*/

    section#login{
        width: 70vw;
        height: 250px;
        
    }
    div#imagem{
        float:left;
        width: 50%;   
    }
    div#formulario{
        float:right;
        height: 100%;
    }
}
@media  screen and (min-width: 992px) {
    section#login{
        width:500px;
    }

}